/* ==== Global ====
==============================================================================*/
@font-face {
    font-family: "Fira sans light";
    src: url("firasans-light-webfont.eot");
    src: url("firasans-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("firasans-light-webfont.woff2") format("woff2"),
         url("firasans-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira sans heavy";
    src: url("firasans-heavy-webfont.eot");
    src: url("firasans-heavy-webfont.eot?#iefix") format("embedded-opentype"),
         url("firasans-heavy-webfont.woff2") format("woff2"),
         url("firasans-heavy-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.hidden {
    display: none !important;
}
.end {
    margin-bottom: 15px;
}
.left-aligned {
    text-align: left;
}
.minor-group > * {
    margin-right: 5px;
}
.minor-group > *:last-of-type {
    margin-right: 0;
}
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col-1   {  width: 7.875%;  }
.col-2   {  width: 16.25%;  }
.col-3   {  width: 24.625%; }
.col-4   {  width: 33%;     }
.col-5   {  width: 41.375%; }
.col-6   {  width: 49.75%;  }
.col-7   {  width: 58.125%; }
.col-8   {  width: 66.5%;   }
.col-9   {  width: 74.875%; }
.col-10 { width: 83.25%;   }
.col-11 { width: 91.625%;  }
.col-12 { width: 100%;     }
[class*='col-'] {
    box-sizing: border-box;
    float: left;
    margin-right: .5%;
}
.row[class*='col-'],
.row [class*='col-']:last-child {
    margin-right: 0;
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body {
    background-color: #FFFFFF;
    color: #676269;
    font-family: "Fira sans light";
    margin: 0;
    min-width: 271px;
}
body.loading {
    pointer-events: none;
}
body:after {
    content: "";
    position: fixed;
    top: 0;
    height: 2px;
    width: 100%;
    visibility: hidden;
    /* vain yli .2s latauksen jälkeen */
    -webkit-transition: visibility 0s linear .1s;
            transition: visibility 0s linear .1s;
    border-left: 80px solid rgba(163, 175, 97, 0.65);
    box-sizing: border-box;
    transform: translate(-100px);
    z-index: 1;
}
@keyframes zlide {
    from { transform: translate(-100px); }
    to { transform: translate(100%); }
}
body.loading:after {
    animation: 1s linear 0s infinite alternate zlide;
    visibility: visible;
}
.text-error {
    color: rgba(255, 62, 97, 0.85);
}
.text-small {
    font-size: .8em;
}
.text-heavy {
    font-family: "Fira sans heavy";
}
.heading .text-small {
    font-size: .7em;
    font-family: "Fira sans light";
    margin-left: 4px;
}
a {
    color: #325e68;
}
h2 {
    font-family: "Fira sans heavy";
    font-weight: normal;
    overflow: hidden;
}
h2:before,
h2:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 20%;
    max-width: 20%;
    height: 1px;
    vertical-align: middle;
    background-color: #A8A1AB;
}
h2:before {
    right: 10px;
    margin: 0 0 0 -50%;
}
h2:after {
    left: 10px;
    margin: 0 -50% 0 0;
}
h4 {
    margin: 8px auto;
}
p {
    margin: 10px 0;
}
button {
    border: medium none;
    background-color: transparent;
    cursor: pointer;
}
ul {
    list-style: outside none none;
    padding: 0;
    text-align: left;
}
.info-box {
    font-size: 13px;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #EEEEEE;
    border-radius: 2px;
}
.nice-button {
    background-color: #F5F5F5;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    color: #222222;
    font: 11px/11px "Fira sans light";
    padding: 8px 12px;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    text-decoration: none;
}
.nice-button.nice-button-small {
    color: #555555;
    font-size: 10px;
    padding: 6px;
}
.nice-button.nice-button-large {
    color: #555555;
    font-size: 14px;
    padding: 15px 25px;
}
.nice-button:disabled {
    background-color: #E5E5E5;
    color: #AAAAAA;
    cursor: not-allowed;
    text-shadow: none;
}
.nice-button:active:enabled {
    box-shadow: 0 1px 2px rgba(0,0,0,0.08) inset;
}
.nice-button:hover:enabled {
    background-color: #F2F2F2;
    border-color: rgba(0,0,0,0.15);
}
.nice-button.nice-button-primary:enabled {
    background-color: #479AB0;
    border-color: #1A7C96;
    color: #FFFFFF;
}
.nice-button.nice-button-primary:active:enabled {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
}
.nice-button.nice-button-primary:hover:enabled {
    background-color: #3C90A7;
    border-color: #228AA5;
}
.text-button {
    font: 0.8em "Fira sans light";
    color: #676269;
    padding: 5px 20px 5px 10px;
    text-decoration: none;
}
.text-button.current {
    border-bottom: 1px solid;
}
.text-button:hover {
    color: #1A7C96;
}
.icon-button.with-text {
    background-color: rgba(255,255,255,0.15);
    border-color: rgba(255,255,255,0.2) rgba(0,0,0,0.1) rgba(0,0,0,0.2) rgba(255,255,255,0.1);
    color: #FFFFFF;
    padding: 9px 14px 9px 32px;
    background-position: 8px center;
    background-size: 16px auto;
}
.icon-button.with-text:active:enabled,
a.icon-button.with-text:active {
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
}
.icon-button.with-text:hover:enabled,
a.icon-button.with-text:hover {
    background-color: rgba(255,255,255,0.20);
    border-color: rgba(255,255,255,0.2) rgba(0,0,0,0.1) rgba(0,0,0,0.2) rgba(255,255,255,0.1);
}
.icon-button {
    padding: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 6px 7px;
    background-size: 22px auto;
}

.icon-button.secondary-menu-black {
    background-image: url("icon-sprite.svg#secondary-menu-black");
}
.icon-button.add {
    background-image: url("icon-sprite.svg#add");
}
.icon-button.edit {
    background-image: url("icon-sprite.svg#edit");
    background-position: 8px 7px;
}
.icon-button.delete, .icon-button.delete-black {
    background-image: url("icon-sprite.svg#delete");
    background-position: 5px 5px;
}
.icon-button.delete-black {
    background-image: url("icon-sprite.svg#delete-black");
}
.icon-button.arrow, .icon-button.arrow-black {
    transition: transform .1s ease-out;
    background-image: url("icon-sprite.svg#arrow");
    background-size: 20px auto;
}
.icon-button.arrow-black {
    background-image: url("icon-sprite.svg#arrow-black");
    opacity: 0.65;
}
.icon-button.arrow.up {
    transform: rotate(180deg);
}
.icon-button.arrow.right {
    transform: rotate(-90deg);
}
.icon-button.arrow.left {
    transform: rotate(90deg);
}
li:first-of-type .up {
    display: none;
}
li:last-of-type .down {
    display: none;
}

/* -- Listat ---------- */
.dark-list {
    background-color: #3B3938;
    color: #EEEEEE;
    border-radius: 2px;
}
.dark-list > li {
    border-top: 1px solid rgba(255,255,255,0.07);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 15px 0;
    margin: auto 15px;
    position: relative;
}
.dark-list > li:first-of-type {
    border-top-color: transparent;
}
.dark-list > li:last-of-type {
    border-bottom-color: transparent;
}
.dark-list.tight > li {
    padding: 8px 14px;
}
.dark-list.tighter > li {
    padding: 6px 2px;
    margin: auto 10px;
}
.dark-list .heading {
    font: 24px/24px "Fira sans heavy";
    margin: -5px auto 10px;
}
.dark-list .content {
    margin: 10px auto;
}
.dark-list .footer {
    font-size: 11px;
    border-radius: 2px;
    padding: 0 4px 4px 0;
    color: rgba(255,255,255,0.5);
    margin: -3px 0 6px;
}
.action-buttons {
    position: absolute;
    right: -7px;
    top: 5px;
    width: 60px;
    height: 100%;
}
.action-buttons .icon-button {
    float: right;
    opacity: .3;
}
.action-buttons .icon-button:hover {
    opacity: .5;
}
.action-buttons .icon-button.edit {
    position: absolute;
    left: -5px;
}
.action-buttons .icon-button.arrow.down {
    position: absolute;
    bottom: 8px;
    right: 0;
}
li:first-of-type .action-buttons .arrow.down {
    position: static;
}

/* -- Taulukot ---------- */
table {
    border-collapse: collapse;
    margin-bottom: 10px;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
table.crud-table, table.fixed {
    table-layout: fixed;
}
table th {
    padding-right: 10px;
    text-align: left;
}
table th:first-child {
    padding-left: 6px;
}
table.striped tr:nth-of-type(2n) td, .striped > *:nth-of-type(2n) {
    background-color: #ECECEC;
}
table td {
    padding: 6px 10px 6px 0;
    text-align: left;
    vertical-align: top;
}
table.crud-table td {
    padding: 8px 10px 8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table td:first-child {
    padding-left: 4px;
}
table.striped td:first-child {
    padding-left: 6px;
}
table.crud-table td:first-child {
    padding-left: 10px;
}
.striped thead tr:only-child th:first-child, .striped tbody tr:only-child td:first-child {
    padding-left: 0;
}
table.crud-table th:last-of-type,
table.crud-table td:last-of-type {
    width: 114px;
}
table.crud-table th:only-child,
table.crud-table td:only-child {
    width: initial;
}

/* -- Notifier ---------- */
.notifier {
    position: fixed;
    bottom: 20px;
    left: 21px;
    z-index: 1;
}
.notifier-message {
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #DDDDDD;
    cursor: pointer;
    font-size: 15px;
    padding: 20px 30px 20px 62px;
    position: relative;
    margin: 3px 20px auto auto;
}
.notifier-message.success {
    background-color: rgba(12, 191, 120, 0.85);
}
.notifier-message.info {
    background-color: rgba(48, 174, 253, 0.85);
}
.notifier-message.notice {
    background-color: rgba(210, 169, 73, 0.85);
}
.notifier-message.error {
    background-color: rgba(255, 62, 97, 0.85);
}
.notifier-message > .notifier-message-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 19px auto;
    width: 40px;
    position: absolute;
    left: 12px;
    height: 100%;
    top: 0;
}
.notifier-message.success > .notifier-message-icon {
    background-image: url("icon-sprite.svg#success");
}
.notifier-message.info > .notifier-message-icon,
.notifier-message.notice > .notifier-message-icon {
    background-image: url("icon-sprite.svg#notice");
}
.notifier-message.error > .notifier-message-icon {
    background-image: url("icon-sprite.svg#error");
}

/* -- Lomakkeet ---------- */
input, textarea, select:not(.no-style) {
    border-color: #ABADB3 #DBDFE6 #E3E9EF #E2E3EA;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    color: #3E2F49;
    font: 14px "Fira sans light";
    margin-bottom: 5px;
    padding: 5px 0;
    text-indent: 8px;
    -webkit-transition: border-color 0.1s ease-out 0s;
            transition: border-color 0.1s ease-out 0s;
}
select:not(.no-style) {
    text-indent: 2px;
}
input:hover {
    border-color: #5794BF #B7D5EA #C7E2F1 #C5DAED;
}
input[type="date"] {
    text-indent: 3px;
}
.input-set {
    display: inline-block;
    margin-bottom: 4px;
    width: 100%;
    text-align: left;
}
.input-set > span:first-of-type {
    box-sizing: border-box;
    display: inline-block;
}
.input-set input, .input-set textarea, .input-set select {
    box-sizing: border-box;
    width: 100%;
}
.input-set.inline input {
    width: auto;
    margin: 0 6px 6px 0;
}
.input-set .text-error {
    display: inline-block;
    width: 100%;
}
.input-set .datepicker > div {
    position: absolute;
}
.form-buttons {
    text-align: left;
}
.form-buttons .nice-button {
    min-width: 60px;
    width: 20%;
}
table .input-set {
    max-width: 48%;
    margin: 0 2% 0 0;
}
table .input-set > span:first-of-type {
    display: none;
}
table .input-set input {
    margin: 0;
}
table .input-set .text-error {
    font-size: 12px;
    float: left;
}
.input-set ul {
    margin: 4px 0;
    padding: 5px 10px;
}

/* -- Modal ---------- */
#modal {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    text-align: left;
    background-color: rgba(0,0,0,0.8);
}
#modal-content {
    max-width: 560px;
    max-height: 100%;
    margin: 0 auto;
    padding: 10px 10px 0;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-radius: 2px;
}
#modal-content:after { /* puskee scroll tilassa paddingia */
    content: "";
    display: block;
    margin-bottom: 10px;
}
#modal-content h3 {
    width: 100%;
    margin: -10px 0 10px -10px;
    padding: 8px 10px 12px;
    font: 1.2em/1em "Fira sans heavy";
    background-color: #EEEEEE;
    color: #676269;
}

/* Chartist */
.ct-grid.ct-horizontal { stroke: rgba(0,0,0,.1); stroke-dasharray: none; stroke-width: 1px; }
.ct-grid.ct-vertical { stroke: rgba(0,0,0,0.15); stroke-dasharray: .5px; stroke-width: .8px; }
.ct-label { color: rgba(0,0,0,0.7); font-size: .8rem; }
/* ylimmäinen pointlabel */.ct-series .ct-label[y="10"] { display: none; }
.ct-series .ct-line, .ct-series .ct-point { stroke-width: 2px; stroke: #30636E; }
.ct-series .ct-area { fill: #30636E; fill-opacity: 0.05; }

/* ==== App ====
==============================================================================*/
header {
    background: url(polygons.png), linear-gradient(to bottom, #30636E, #1f454e);
    padding-bottom: 16px;
}

/* -- main-menu ---------- */
header {
    font: 11px "Fira sans light";
}
header nav,
header nav ul {
    text-align: center;
}
header nav a {
    color: #FFFFFF;
}
#main-menu {
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
#main-menu ul {
    display: inline-block;
    margin: 0;
    max-width: 252px;
    width: 100%;
}
#main-menu.open ul {
    max-width: 460px;
}
#main-menu > ul {
    margin-left: -10px;
}
#main-menu li {
    float: left;
}
#main-menu > ul > li {
    width: 36%;
}
#main-menu > ul > li:first-of-type,
#main-menu > ul > li:last-of-type {
    width: 32%;
}
#main-menu > ul > li > .current {
    padding: 9px 26px 11px;
}
#main-menu a {
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 18px;
    min-width: 30px;
    padding: 37px 26px 10px;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
}
#main-menu > ul > li > a {
    background-size: 26px auto;
    background-position: 52% 9px;
}
#main-menu > ul > li:first-of-type > a {
    background-image: url(icon-sprite.svg#dashboard);
    background-size: 29px auto;
}
#main-menu > ul > li:nth-of-type(2) > a {
    background-image: url(icon-sprite.svg#dumb-bell);
}
#main-menu > ul > li:last-of-type > a {
    background-image: url(icon-sprite.svg#diagram);
    background-position: center 8px;
}
#main-menu .sub-ul {
    display: none;
}
#main-menu.open .sub-ul {
    display: block;
    width: 100%;
}
#main-menu > ul > li:nth-of-type(2) .sub-ul {
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
}
#main-menu .sub-ul li {
    float: none;
}
#main-menu .sub-ul a {
    margin: auto 10px;
    padding: 12px 8%;
}
#main-menu .current {
    border-bottom: 4px solid #FFFFFF;
    padding: 10px 2px;
    margin: auto 0px;
}

#main-menu > .icon-button.arrow {
    position: absolute;
    right: 0;
    top: 5px;
}
#main-menu.open > .icon-button.arrow {
    transform: rotate(180deg);
}

#user-menu {
    margin: 6px auto;
    padding: 4px;
    max-width: 420px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: none;
}
.open #user-menu {
    display: block;
}
#user-menu ul {
    width: auto;
}
#user-menu li {
    margin-right: 15px;
}
#user-menu a {
    padding: 6px 0 4px;
}
.tab-menu {
    margin-bottom: 30px;
}
.sub-menu {
    position: absolute;
    right: 0;
    top: 7px;
    text-align: left;
}
.sub-menu > .secondary-menu-black {
    float: right;
    background-size: 26px auto;
    opacity: 0.7;
    background-position: center 4px;
}
.sub-menu > nav {
    display: none;
    background-color: #fff;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    padding: 15px 20px;
    clear: both;
    border: 1px solid rgba(44, 82, 90, 0.12);
}
.sub-menu.open > nav {
    display: block;
}
.sub-menu > nav > a {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}
.sub-menu > nav > a:last-of-type {
    margin-bottom: 0;
}

/* -- footer ---------- */
footer {
    font-size: 12px;
    text-align: center;
    margin: 0 auto 25px;
    width: 100%;
    max-width: 220px;
    padding-top: 20px;
}
footer a {
    font-size: 12px;
}

/* -- view:iin liityvä ---------- */
.view-margin {
    height: 100%;
    margin: 0 10px;
}
#view {
    background-color: #FFFFFF;
    margin: -25px auto 0;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    border-radius: 2px 2px 0 0;
}
#view h2:first-of-type {
    margin-top: 0;
}
#view > div {
    position: relative;
}
#view a:hover {
    opacity: 0.85;
}

/* -- Treeninäkymät ---------- */
.workout-view h2 .arrow-black { margin: 0 -5px -7px 2px; top: -7px; position: relative; }
.workout-view .datepicker { position: absolute; display: inline-block; transform: translate(-85%, 45px);
    z-index: 1; }
.workout-view > div { margin-top: -10px; }
.workout-timer { float: left; margin-bottom: 10px; }
.workout-timer + button { float: right; margin-top: -7px; }
.editable-workout > ul:first-of-type { clear: both;}
.workout-view.not-current > .nice-button,                                /* Treenin aloituspainike */
.workout-view.not-current .editable-workout > .nice-button:last-of-type, /* Liikeen lisäyspainike */
.workout-view.not-current .dark-list > li > button { display: none; }    /* Sarjan lisäyspainike */
.workout-view.not-current .footer { margin-bottom: 0; }

.workout-exercise-modal table { width: auto }
.workout-exercise-modal table .icon-button { opacity: .25 }
.workout-exercise-modal table tr:last-of-type .arrow-black {
    transform: rotate(180deg);
}

/* -- Liike-näkymät ---------------*/
.exercise-view ul { margin: 5px 0 5px 15px; font-size: 14px; opacity: 0.8; }
.exercise-view ul .minor-group { margin-left: 5px }

/* -- Statistiikkanäkymät ---------- */
.stats-view .sub-nav .text-button { padding: 8px 20px; }
.stats-view .score { font: 60px "Fira sans heavy"; margin: -30px 0px 5px; }
.stats-view .score + table { width: auto; margin: 0 auto; }
.stats-view td { padding: 2px 10px 2px 0 }
.stats-view .inline-form { background-color: #ECECEC; padding: 20px;}
@media (max-width:530px) { #score-lookup-table { font-size: 13px } }

.stats-strength-view ul { display: inline-block; margin: 0; }
.stats-strength-view li span { font-size: 14px; display: inline-block;
    margin-bottom: 7px; }
.stats-strength-view li .score { font-size: 55px; }

.stats-overview-view .box { background-color: #3B3938; margin-bottom: 10px; border-radius: 2px;
    padding: 18px; color: #FFFFFF; }
.stats-overview-view .box > div:first-of-type { text-transform: uppercase; letter-spacing: 2px;
    font-size: 14px; }
.stats-overview-view table { font-size: 13px; margin: 10px auto; width: auto; }
.stats-overview-view table td:last-of-type { padding-bottom: 10px; vertical-align: bottom; }
.stats-overview-view .score { color: #FFFFFF; line-height: 65px; text-shadow: 1px 1px 4px rgba(0,0,0,0.4); }
.stats-overview-view .box:nth-of-type(2) .score { font-size: 52px; line-height: 56px; }
.stats-overview-view .box:nth-of-type(3) .score { font-size: 40px; line-height: 44px; }
.stats-overview-view .box:nth-of-type(3) .score > span { font-size: 24px; }

.line-chart { height: 300px; margin-left: -12px; }

/* -- Käyttäjänäkymät ---------- */
.profile-pic { margin-right: 15px; height: 140px; background-color: #e0e0e0;
    border-radius: 2px; }
.profile-pic:before { display: inline-block; height: 100%; vertical-align: middle;
    content: " "; }
.profile-pic img { width: 80%; display: inline-block; vertical-align: middle; opacity: 0.1; }

/* ==== Media queries ====
==============================================================================*/
/* -- main-menun olon käydessä ahtaaksi ---------- */
@media (max-width:300px) {
    #main-menu.open > ul > li {
        width: 100%;
    }
    #main-menu.open .sub-ul {
        margin-bottom: 10px;
    }
    #main-menu.open > ul > li:last-of-type .sub-ul {
        margin-bottom: 30px;
    }
    #user-menu {
        margin: -20px auto 15px;
    }
}
/* -- sama taulukoiden osalta ---------- */
@media (max-width:480px) {
    table.tight {
        max-width: 280px;
        margin: 0 auto;
    }
    table.responsive th {
        display: none;
    }
    table.responsive td {
        display: block;
        padding: 0 15px 0 86px;
        position: relative;
        text-align: right;
        width: auto;
    }
    table.responsive tbody tr:first-child td:first-child {
        padding-top: 0;
    }
    table.responsive td:first-child {
        padding: 10px 15px 0;
    }
    table.responsive td:last-child {
        padding-bottom: 10px;
        margin-bottom: 5px;
        width: auto;
    }
    table.responsive td:before {
        content: attr(data-th);
        display: inline-block;
        font-weight: bold;
        position: absolute;
        left: 15px;
    }
    #view {
        padding: 10px 5px;
    }
    #score-lookup-table { font-size: initial }
}
/* -- ja viewin ---------- */
@media (max-width:660px) {
    #view {
        padding: 20px 5px;
    }
    #main-menu {
        padding: 0 5px;
    }
    #view h2 {
        margin-right: 8px;
        margin-left: 8px;
    }
}
