/* ==== Global ====
==============================================================================*/
@font-face {
    font-family: "Fira sans light";
    src: url("firasans-light-webfont.eot");
    src: url("firasans-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("firasans-light-webfont.woff2") format("woff2"),
         url("firasans-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira sans heavy";
    src: url("firasans-heavy-webfont.eot");
    src: url("firasans-heavy-webfont.eot?#iefix") format("embedded-opentype"),
         url("firasans-heavy-webfont.woff2") format("woff2"),
         url("firasans-heavy-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.hidden {
    display: none !important;
}
.end {
    margin-bottom: 10px;
}
.airy {
    padding: 10px 13px;
}
.left-aligned {
    text-align: left;
}
.minor-group > * {
    margin-right: 5px;
}
.minor-group > *:last-of-type {
    margin-right: 0;
}
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col-1   {  width: 7.875%;  }
.col-2   {  width: 16.25%;  }
.col-3   {  width: 24.625%; }
.col-4   {  width: 33%;     }
.col-5   {  width: 41.375%; }
.col-6   {  width: 49.75%;  }
.col-7   {  width: 58.125%; }
.col-8   {  width: 66.5%;   }
.col-9   {  width: 74.875%; }
.col-10 { width: 83.25%;   }
.col-11 { width: 91.625%;  }
.col-12 { width: 100%;     }
[class*='col-'] {
    box-sizing: border-box;
    float: left;
    margin-right: .5%;
}
.row[class*='col-'],
.row [class*='col-']:last-child {
    margin-right: 0;
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body {
    background-color: #FFFFFF;
    color: #676269;
    font-family: "Fira sans light";
    margin: 0;
    min-width: 271px;
}
body.loading {
    pointer-events: none;
}
body:after {
    content: "";
    position: fixed;
    top: 0;
    height: 2px;
    width: 100%;
    visibility: hidden;
    /* vain yli .2s latauksen jälkeen */
    -webkit-transition: visibility 0s linear .1s;
            transition: visibility 0s linear .1s;
    border-left: 80px solid rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    transform: translate(-100px);
    z-index: 1;
}
@keyframes zlide {
    from { transform: translate(-100px); }
    to { transform: translate(100%); }
}
body.loading:after {
    animation: 1s linear 0s infinite alternate zlide;
    visibility: visible;
}
.text-error {
    color: rgba(255, 62, 97, 0.85);
}
.text-small {
    font-size: .8em;
}
.text-heavy {
    font-family: "Fira sans heavy";
}
.heading {
    font: 24px/24px "Fira sans heavy";
}
.heading .text-small {
    font-size: .7em;
    font-family: "Fira sans light";
    margin-left: 4px;
}
a {
    color: #53b5f1;
}
h2 {
    font-family: "Fira sans heavy";
    font-weight: normal;
    overflow: hidden;
}
h2:before, .lined-title:before,
h2:after, .lined-title:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 20%;
    max-width: 20%;
    height: 1px;
    vertical-align: middle;
    background-color: #A8A1AB;
}
h2:before, .lined-title:before {
    right: 10px;
    margin: 0 0 0 -50%;
}
h2:after, .lined-title:after {
    left: 10px;
    margin: 0 -50% 0 0;
}
h4 {
    margin: 8px auto;
}
h4:first-of-type {
    margin-top: 0;
}
p {
    margin: 10px 0;
}
button {
    border: medium none;
    background-color: transparent;
    cursor: pointer;
}
ul {
    list-style: outside none none;
    padding: 0;
    text-align: left;
}
.info-box {
    font-size: 13px;
    padding: 10px 15px;
    margin: 10px 0;
    background: #e7f1f9;
    border-radius: 2px;
}
.nice-button {
    background-color: #F5F5F5;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    color: #222222;
    font: 11px/11px "Fira sans light";
    padding: 8px 12px;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    text-decoration: none;
}
.nice-button.small {
    font-size: 10px;
    padding: 6px;
}
.nice-button.large {
    font-size: 14px;
    padding: 15px 35px;
}
.nice-button:disabled {
    background-color: #E5E5E5;
    color: #AAAAAA;
    cursor: not-allowed;
    text-shadow: none;
}
.nice-button:active:enabled {
    box-shadow: 0 1px 2px rgba(0,0,0,0.08) inset;
}
.nice-button:hover:enabled {
    background-color: #F2F2F2;
    border-color: rgba(0,0,0,0.15);
}
.nice-button.nice-button-primary:enabled {
    background-color: #52a5e2;
    border-color: #4395d4;
    color: #FFFFFF;
}
.nice-button.nice-button-primary:active:enabled {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
}
.nice-button.nice-button-primary:hover:enabled {
    background-color: #4CA1DD;
    border-color: #3E90CF;
}
.text-button {
    font: 0.8em "Fira sans light";
    color: #676269;
    padding: 5px 20px 5px 10px;
    text-decoration: none;
}
.text-button.current {
    border-bottom: 1px solid;
}
.text-button:disabled {
    color: #AAAAAA;
    cursor: not-allowed;
}
.text-button:hover:enabled {
    color: #2C8EB8;
}
.text-button.heavy {
    font: 24px/20px "Fira sans heavy";
    padding: 1px 6px 6px;
}
.icon-button.with-text {
    padding: 9px 14px 9px 32px;
    background-position: 8px center;
    background-size: 16px auto;
}
.dark-list .nice-button {
    background-color: rgba(255,255,255,0.15);
    border-color: rgba(255,255,255,0.2) rgba(0,0,0,0.1) rgba(0,0,0,0.2) rgba(255,255,255,0.1);
    color: #FFFFFF;
}
.dark-list .nice-button:active:enabled {
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
}
.dark-list .nice-button:hover:enabled {
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.2) rgba(0,0,0,0.1) rgba(0,0,0,0.2) rgba(255,255,255,0.1);
}
.icon-button {
    padding: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px auto;
    vertical-align: middle;
}

.icon-button.secondary-menu-dark {
    background-image: url("icon-sprite.svg#secondary-menu-dark");
}
.icon-button.add {
    background-image: url("icon-sprite.svg#add");
}
.icon-button.edit, .icon-button.edit-dark {
    background-image: url("icon-sprite.svg#edit");
    background-position: 8px 7px;
}
.icon-button.edit-dark {
    background-image: url("icon-sprite.svg#edit-dark");
}
.icon-button.delete, .icon-button.delete-dark {
    background-image: url("icon-sprite.svg#delete");
    background-position: 5px 5px;
}
.icon-button.delete-dark {
    background-image: url("icon-sprite.svg#delete-dark");
}
.icon-button.arrow, .icon-button.arrow-dark {
    transition: transform .1s ease-out;
    background-image: url("icon-sprite.svg#arrow");
    background-size: 20px auto;
}
.icon-button.arrow-dark {
    background-image: url("icon-sprite.svg#arrow-dark");
}
.icon-button.arrow.up,
.icon-button.arrow-dark.up {
    transform: rotate(180deg);
}
.icon-button.arrow.right,
.icon-button.arrow-dark.right {
    transform: rotate(-90deg);
}
.icon-button.arrow.left,
.icon-button.arrow-dark.left {
    transform: rotate(90deg);
}
.icon-button.statistics {
    background-image: url("icon-sprite.svg#statistics");
}
.icon-button.line-chart {
    background-image: url("icon-sprite.svg#line-chart");
}
.icon-button.schedule {
    background-image: url("icon-sprite.svg#schedule");
}
.icon-button.benchpress {
    background-image: url("icon-sprite.svg#benchpress");
}
.icon-button.user-circled {
    background-image: url("icon-sprite.svg#user-circled");
}
.icon-button.user-squared {
    background-image: url("icon-sprite.svg#user-squared");
}
.icon-button.offline {
    background-image: url("icon-sprite.svg#offline");
}
li:first-of-type .up {
    display: none;
}
li:last-of-type .down {
    display: none;
}
.box {
    background-color: #3B3938;
    margin-bottom: 3px;
    border-radius: 2px;
    color: #FFFFFF;
}
.box.light {
    background-color: #F5F5F5;
    color: inherit;
}

/* -- Listat ---------- */
.dark-list {
    background-color: #3B3938;
    color: #EEEEEE;
    border-radius: 2px;
}
.dark-list > li {
    border-top: 1px solid rgba(255,255,255,0.07);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 15px 0;
    margin: auto 15px;
    position: relative;
}
.dark-list > li:first-of-type {
    border-top-color: transparent;
}
.dark-list > li:last-of-type {
    border-bottom-color: transparent;
}
.dark-list.tight > li {
    padding: 8px 14px;
}
.dark-list.tighter > li {
    padding: 6px 2px;
    margin: auto 10px;
}
.dark-list .heading {
    margin: -5px auto 10px;
}
.dark-list .content {
    margin: 10px auto 0;
}
.dark-list .footer {
    font-size: 11px;
    border-radius: 2px;
    padding: 0 4px 4px 0;
    color: rgba(255,255,255,0.5);
    margin: 8px 0 -3px 0;
}
.action-buttons {
    position: absolute;
    right: -7px;
    top: 5px;
    width: 60px;
    height: 100%;
}
.action-buttons .icon-button {
    float: right;
    opacity: .3;
}
.action-buttons .icon-button:hover {
    opacity: .5;
}
.action-buttons .icon-button.edit {
    position: absolute;
    left: -5px;
}
.action-buttons .icon-button.arrow.down {
    position: absolute;
    bottom: 8px;
    right: 0;
}
li:first-of-type .action-buttons .arrow.down {
    position: static;
}

/* -- Taulukot ---------- */
table {
    border-collapse: collapse;
    margin-bottom: 10px;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
table.crud-table, table.fixed {
    table-layout: fixed;
}
table th {
    padding-right: 10px;
    text-align: left;
}
table th:first-child {
    padding-left: 6px;
}
table.striped tr:nth-of-type(2n) td, .striped > *:nth-of-type(2n) {
    background-color: rgba(0,0,0,0.05);
}
table td {
    padding: 6px 10px 6px 0;
    text-align: left;
    vertical-align: top;
}
table.crud-table tbody td {
    padding: 8px 10px 8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table tbody td:first-child {
    padding-left: 4px;
}
table.striped tbody td:first-child {
    padding-left: 6px;
}
table.crud-table tbody td:first-child, table.dark-list tfoot td {
    padding-left: 10px;
}
table.dark-list tfoot td {
    padding: 10px;
}
.striped:not(.dark-list) thead tr:only-child th:first-child,
.striped:not(.dark-list) tbody tr:only-child td:first-child {
    padding-left: 0;
}
table.crud-table th:last-of-type,
table.crud-table td:last-of-type {
    width: 114px;
}
table.crud-table th:only-child,
table.crud-table td:only-child {
    width: initial;
}
table .icon-button {
    padding: 10px 16px;
    opacity: 0.7;
}
table .icon-button.edit-dark {
    background-position: 7px 0;
}
table .icon-button.delete-dark {
    background-position: 5px -2px;
}

/* -- Lomakkeet ---------- */
input, textarea, select:not(.no-style) {
    border-color: #ABADB3 #DBDFE6 #E3E9EF #E2E3EA;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    color: #3E2F49;
    font: 14px "Fira sans light";
    margin-bottom: 5px;
    padding: 5px 0;
    text-indent: 8px;
    -webkit-transition: border-color 0.1s ease-out 0s;
            transition: border-color 0.1s ease-out 0s;
}
select:not(.no-style) {
    text-indent: 2px;
}
input:hover {
    border-color: #5794BF #B7D5EA #C7E2F1 #C5DAED;
}
input[type="date"] {
    text-indent: 3px;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    margin: 2px 10px 4px 0;
    background-repeat: no-repeat;
    background-size: 19px auto;
    background-position: 40% 25%;
    cursor: pointer;
    border-radius: 2px;
    padding: 1px;
    float: left;
    border: 2px solid #899598;
}
input[type="checkbox"]:checked + label:after {
    background-image: url(icon-sprite.svg#checked);
    background-color: #52a5e2;
    border: none;
    padding: 3px;
    background-size: 21px auto;
}
input[type="checkbox"]:checked:disabled + label:after {
    background-color: #ddd;
}
.input-set {
    display: inline-block;
    margin-bottom: 4px;
    width: 100%;
    text-align: left;
}
.input-set > span:first-of-type {
    box-sizing: border-box;
    display: inline-block;
}
.input-set input, .input-set textarea, .input-set select {
    box-sizing: border-box;
    width: 100%;
}
.input-set.inline input {
    width: auto;
    margin: 0 6px 6px 0;
}
.input-set .text-error {
    display: inline-block;
    width: 100%;
}
.input-set .datepicker > div:first-of-type {
    position: relative;
    width: 100%;
    margin-top: -6px;
}
.input-set .datepicker .pika-single:not(.is-hidden) {
    display: inline-block;
}
.input-set .crud-table th:last-of-type, .input-set .crud-table td:last-of-type {
    width: 64px;
}
.form-buttons {
    text-align: left;
}
.form-buttons .nice-button {
    min-width: 85px;
}
table .input-set {
    max-width: 48%;
    margin: 0 2% 0 0;
}
table .input-set > span:first-of-type {
    display: none;
}
table .input-set input {
    margin: 0;
}
table .input-set .text-error {
    font-size: 12px;
    float: left;
}
.input-set ul {
    margin: 4px 0;
    padding: 5px 10px;
}

/* -- Notifier ---------- */
.notifier {
    position: fixed;
    bottom: 20px;
    left: 21px;
    z-index: 1;
}
.notifier-message {
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #DDDDDD;
    cursor: pointer;
    font-size: 15px;
    padding: 20px 30px 20px 62px;
    position: relative;
    margin: 3px 20px auto auto;
}
.notifier-message.success {
    background-color: rgba(12, 191, 120, 0.85);
}
.notifier-message.info {
    background-color: rgba(48, 174, 253, 0.85);
}
.notifier-message.notice {
    background-color: rgba(210, 169, 73, 0.85);
}
.notifier-message.error {
    background-color: rgba(255, 62, 97, 0.85);
}
.notifier-message > .notifier-message-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 19px auto;
    width: 40px;
    position: absolute;
    left: 12px;
    height: 100%;
    top: 0;
}
.notifier-message.success > .notifier-message-icon {
    background-image: url("icon-sprite.svg#success");
}
.notifier-message.info > .notifier-message-icon,
.notifier-message.notice > .notifier-message-icon {
    background-image: url("icon-sprite.svg#notice");
}
.notifier-message.error > .notifier-message-icon {
    background-image: url("icon-sprite.svg#error");
}

/* -- Modal ---------- */
#modal {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    text-align: left;
    background-color: rgba(0,0,0,0.8);
}
.modal-content {
    max-width: 560px;
    max-height: 100%;
    margin: 0 auto;
    padding: 10px 10px 0;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-radius: 2px;
}
.modal-content.level-0:only-child {
    transition: transform .15s ease-out, opacity .15s ease-out, position 0s linear .15s;
}
.modal-content.level-0:not(:only-child) {
    opacity: 0;
    transform: translateX(-100%);
    position: absolute;
}
.modal-content:after { /* puskee scroll tilassa paddingia */
    content: "";
    display: block;
    margin-bottom: 10px;
}
.modal-content h3 {
    width: 100%;
    margin: -10px 0 10px -10px;
    padding: 8px 10px 12px;
    font: 1.2em/1em "Fira sans heavy";
    background-color: #EEEEEE;
    color: #676269;
}

/* Chartist */
.ct-grid.ct-horizontal { stroke: rgba(0,0,0,.1); stroke-dasharray: none; stroke-width: 1px; }
.ct-grid.ct-vertical { stroke: rgba(0,0,0,0.15); stroke-dasharray: .5px; stroke-width: .8px; }
.ct-label { color: rgba(0,0,0,0.7); font-size: .8rem; }
/* ylimmäinen pointlabel */.ct-series .ct-label[y="10"] { display: none; }
.ct-series .ct-line, .ct-series .ct-point { stroke-width: 2px; stroke: #328cce; }
.ct-series .ct-area { fill: #328cce; fill-opacity: 0.05; }

/* Pikaday */
.datepicker { position: relative; }
.pika-lendar { width: auto; max-width: 330px; }
.pika-table { table-layout: fixed; }
.pika-table th:first-of-type { width: 10%; }
.pika-table .pika-week { vertical-align: middle; }
.pika-table td .pika-button { padding: 10px; text-align: center; }
.time-only .pika-lendar { height: 0; overflow: hidden; }
.time-only-toggle-container { max-width: 349px; text-align: center; }
.time-only-toggle { position: absolute; bottom: 47px; margin-left: -43px; z-index: 2; }
.pika-time-container { position: relative; top: 15px; margin-bottom: 25px; }
table.pika-time { margin: 0 auto; width: auto; }
.pika-time td { padding: 0 1px 0; font-weight: bold; line-height: 25px; }
.pika-time select { padding: 2px; margin-bottom: 0; width: 80px; }

/* Awesomplete */
.awesomplete { width: 100%; }
div.awesomplete > ul {
    border-radius: 0 0 2px 2px;
    transition: none;
    top: -6px;
    max-height: 250px;
    overflow-y: auto;
    border-color: rgba(0,0,0,0.2);
    padding: 2px;
    position: relative;
}
@supports (transform: scale(0)) {
    div.awesomplete > ul[hidden],
    div.awesomplete > ul:empty {
        position: absolute;
    }
}

/* ==== App ====
==============================================================================*/
header {
    background: url(polygons.png), linear-gradient(to bottom, #55abea, #328cce);
    padding-bottom: 16px;
}

/* -- main-menu ---------- */
header {
    font: 11px "Fira sans light";
}
header nav,
header nav ul {
    text-align: center;
}
header nav a {
    color: #FFFFFF;
}
#main-menu {
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
#main-menu ul {
    display: inline-block;
    margin: 0;
    max-width: 252px;
    width: 100%;
}
#main-menu.open ul {
    max-width: 460px;
}
#main-menu > ul {
    margin-left: -10px;
}
#main-menu li {
    float: left;
}
#main-menu > ul > li {
    width: 36%;
}
#main-menu > ul > li:first-of-type,
#main-menu > ul > li:last-of-type {
    width: 32%;
}
#main-menu > ul > li > .current {
    padding: 9px 26px 11px;
}
#main-menu a {
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 18px;
    min-width: 30px;
    padding: 37px 26px 5px;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
}
#main-menu > ul > li > a {
    background-size: 26px auto;
    background-position: 52% 9px;
}
#main-menu > ul > li:first-of-type > a {
    background-image: url(icon-sprite.svg#dashboard);
    background-size: 29px auto;
}
#main-menu > ul > li:nth-of-type(2) > a {
    background-image: url(icon-sprite.svg#dumb-bell);
}
#main-menu > ul > li:last-of-type > a {
    background-image: url(icon-sprite.svg#diagram);
    background-position: center 8px;
}
#main-menu .sub-ul {
    display: none;
}
#main-menu.open .sub-ul {
    display: block;
    width: 100%;
}
#main-menu > ul > li:nth-of-type(2) .sub-ul {
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
}
#main-menu .sub-ul li {
    float: none;
}
#main-menu .sub-ul a {
    margin: auto 10px;
    padding: 12px 8%;
}
#main-menu .current {
    border-bottom: 4px solid #FFFFFF;
    padding: 10px 2px;
    margin: auto 0px;
}

#main-menu > .icon-button.arrow {
    position: absolute;
    right: 0;
    top: 5px;
}
#main-menu.open > .icon-button.arrow {
    transform: rotate(180deg);
}

#user-menu {
    margin: 6px auto 0;
    padding: 4px 4px 0;
    max-width: 420px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: none;
}
.open #user-menu {
    display: block;
}
#user-menu ul {
    width: auto;
}
#user-menu li {
    margin-right: 15px;
}
#user-menu a {
    padding: 6px 0 8px;
}
.tab-menu {
    margin-bottom: 30px;
}
.sub-menu {
    position: absolute;
    right: 0;
    top: 7px;
    text-align: left;
}
.sub-menu > .secondary-menu-dark {
    float: right;
    background-size: 26px auto;
    background-position: center 4px;
    background-color: #FFFFFF;
}
.sub-menu > nav {
    display: none;
    background-color: #fff;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    padding: 15px 20px;
    clear: both;
    border: 1px solid rgba(44, 82, 90, 0.12);
    position: relative;
    z-index: 1;
}
.sub-menu.open > nav {
    display: block;
}
.sub-menu > nav > a {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}
.sub-menu > nav > a:last-of-type {
    margin-bottom: 0;
}

/* -- footer ---------- */
footer {
    font-size: 12px;
    text-align: center;
    margin: 0 auto 25px;
    width: 100%;
    max-width: 220px;
    padding-top: 20px;
}
footer a {
    font-size: 12px;
}

/* -- view:iin liityvä ---------- */
.view-margin {
    height: 100%;
    margin: 0 10px;
}
#view {
    background-color: #FFFFFF;
    margin: -20px auto 0;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    border-radius: 2px 2px 0 0;
}
#view h2:first-of-type {
    margin-top: 0;
}
#view > div {
    position: relative;
}
#view a:hover {
    opacity: 0.85;
}

/* -- Kotinäkymä ------------ */
.home-view .icon-button { display: block; padding: 100px 0 15px;
    background-size: 62px auto;  font-size: 13px; text-decoration: none;
    background-position: center 25px; }

/* -- Treeninäkymät ---------- */
.workout-view.not-current h2 > span { font-family: "Fira sans light"; letter-spacing: -1px;
    font-size: 21px; }
.workout-view h2 .arrow-dark { padding: 14px 16px; margin: 0 -5px -7px 2px; top: -3px; position: relative; }
.workout-view .datepicker { position: absolute; width: 100%; z-index: 1; left: 0;}
.workout-view .datepicker > div { max-width: 330px; margin: 5px auto 0; }

.workout-view > p { margin: -10px 0 15px; }
.workout-timer { float: left; margin-bottom: 10px; white-space: nowrap; }
.workout-timer + div { float: right; margin-top: -7px; }
.workout-timer + div > .edit-dark { margin-right: 5px; }
.editable-workout > ul:first-of-type { clear: both;}
.editable-workout li .icon-button.add, .workout-view button.large { margin-top: 10px; }
.workout-view p > .nice-button.large { display: block; margin: 15px auto; }
.workout-view > .nice-button:first-of-type { margin-right: 4px; }
.workout-view.not-current > .nice-button:not([title]),                   /* Treenin aloituspainike */
.workout-view.not-current .editable-workout > .nice-button:last-of-type, /* Liikeen lisäyspainike */
.workout-view.not-current .dark-list > li > button { display: none; }    /* Sarjan lisäyspainike */

.workout-exercise-modal table { width: auto }
.workout-exercise-modal table tr:last-of-type .arrow-dark {
    transform: rotate(180deg);
}

/* -- Liike-näkymät ---------------*/
.exercise-view ul { margin: 5px 0 5px 15px; font-size: 14px; opacity: 0.8; }
.exercise-view ul .minor-group { margin-left: 5px }

/* -- Statistiikkanäkymät ---------- */
.stats-view .tab-menu .text-button { padding: 8px 20px; }
.stats-view .score { font: 60px "Fira sans heavy"; margin: -30px 0px 5px; }
.stats-view .score.medium { font-size: 49px; line-height: 49px; }
.stats-view .score.small { font-size: 40px; line-height: 40px; }
.stats-view .score + table { width: auto; margin: 0 auto; }
.stats-view td { padding: 2px 10px 2px 0 }
.stats-view .inline-form { background-color: #F5F5F5; padding: 20px;
    border-radius: 2px; }
@media (max-width:530px) { #score-lookup-table { font-size: 13px } }

.stats-strength-view ul { display: inline-block; margin: 0; }
.stats-strength-view li span { font-size: 14px; display: inline-block;
    margin-bottom: 7px; }
.stats-strength-view li .score { font-size: 55px; }

.stats-overview-view .box { padding: 26px; }
.stats-overview-view .box > div:first-of-type { text-transform: uppercase;
    letter-spacing: 2px; font-size: 12px; margin-bottom: 12px }
.stats-overview-view .score { color: #FFFFFF; text-shadow: 1px 1px 4px rgba(0,0,0,0.4); }
.stats-overview-view li { padding: 10px; position: relative; text-align: center; }
.stats-overview-view li:last-of-type { padding-bottom: 0; }
.stats-overview-view li div:first-of-type { font-size: 11px; opacity: 0.9;  margin-bottom: 2px; }
.stats-overview-view .lined-title:before,
.stats-overview-view .lined-title:after { min-width: 64px; }

.line-chart:not(.icon-button) { height: 300px; margin-left: -12px; }

/* -- Ohjelmanäkymät ----------- */
.program-workouts-manager { text-align: center; }
.program-workouts-manager .dark-list { padding: 0; }
.program-workouts-manager .dark-list li { min-height: 20px; padding-left: 20px; }
.program-workouts-manager .dark-list li:before {
    content: attr(data-dayname); background-color: rgba(0,0,0,0.3); height: calc(100% + 1px);
    position: absolute; top: 0px; left: -14px; font-size: 12px; padding: 6px 0;
    box-sizing: border-box; width: 23px; text-align: center; border-radius: 2px;
}
.program-workouts-manager .dark-list .content { margin-bottom: 0; }
.week-navigation { display: inline-block; position: relative; }
.week-navigation > button { position: absolute; left: -44px; top: 27%; }
.week-navigation > button:last-of-type { left: initial; right: -40px; }

/* -- Käyttäjänäkymät ---------- */
.profile-pic { position: absolute; height: 130px; width: 134px; background-repeat: no-repeat;
    background-position: center; background-color: rgba(0,0,0,0.05); background-size: contain }
.profile-pic + div { padding-left: 150px; }
.profile-pic.default { background-size: 55% auto; background-color: #e0e0e0; }

/* ==== Media queries ====
==============================================================================*/
@media (max-width:300px) {
    #main-menu.open > ul > li {
        width: 100%;
    }
    #main-menu.open .sub-ul {
        margin-bottom: 10px;
    }
    #main-menu.open > ul > li:last-of-type .sub-ul {
        margin-bottom: 30px;
    }
    #user-menu {
        margin: -20px auto 15px;
    }
    .profile-pic { position: absolute; height: 116px; width: 110px; }
    .profile-pic + div { padding-left: 126px; }
}
@media (max-width:480px) {
    table.tight {
        max-width: 280px;
        margin: 0 auto;
    }
    table.responsive th {
        display: none;
    }
    table.responsive td,
    table.responsive tbody td {
        display: block;
        padding: 0 15px 0 86px;
        position: relative;
        text-align: right;
        width: auto;
    }
    table.responsive:not(.dark-list) tbody tr:first-child td:first-child {
        padding-top: 0;
    }
    table.responsive td:first-child {
        padding: 10px 15px 0;
    }
    table.responsive td:last-of-type,
    table.responsive.crud-table td:last-of-type {
        padding: 5px 7px 9px;
        width: auto;
    }
    table.responsive td:before {
        content: attr(data-th);
        display: inline-block;
        font-weight: bold;
        position: absolute;
        left: 15px;
    }
    [class*='col-'] {
        float: none;
        margin: 0 0 2px;
        width: 100%;
    }
    #view {
        padding: 10px 5px;
    }
    .home-view .col-6 .icon-button { margin-right: 0; }
    .home-view .col-6:last-of-type .icon-button { margin-left: 0; }
    .stats-view .score.small { font-size: 38px; font-size: 38px; }
    #score-lookup-table { font-size: initial }
}
@media (max-width:660px) {
    #view {
        padding: 20px 5px;
    }
    #main-menu {
        padding: 0 5px;
    }
    #view h2 {
        margin-right: 4px;
        margin-left: 4px;
    }
    .home-view { margin: 0 14px; }
}
